{% extends "base.html" %}
{% block title %}Formulaire{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  {% for p_id, p_color in p_id2color.items() %}
  .profile-{{ p_id }}{
    background-color: {{ p_color }};
    color: white;
  }
  {% endfor %}
</style>
{% endblock %}
{% block content %}
<div>

  <font size="+1">
    Le Challenge GD4H vous intéresse, vous souhaitez apporter votre contribution, alors n'hésitez pas à vous inscrire !<br>
    Ce formulaire permet de vous inscrire mais aussi de déterminer votre profil principal, ce qui permettra d'aider à
    identifier les participants nécessaires à un projet.<br>
    En fin de formulaire, si vous le désirez, vous pourrez indiquer les défis sur lesquels vous souhaitez vous positionner.
  </font>

  <form method="POST">
    <div class="div-form-id">
    <fieldset>
      <legend>Identification</legend>
      <table>
      <tr><td style="text-align:right">Nom&nbsp;:</td><td>{{ dataposition_form.name }}</td></tr>
      <tr>
        <td style="text-align:right">Prénom&nbsp;:</td>
        <td>{{ dataposition_form.prenom }}</td>
      </tr>
      <tr><td style="text-align:right">Email&nbsp;:</td><td>{{ dataposition_form.email }}</td></tr>
      <tr>
        <td>{{ dataposition_form.consent }}</td>
        <td style="text-align:right">J'ai lu et j'accepte les conditions liées à la conservation de mes données personnelles : <a
          href="https://challenge.gd4h.ecologie.gouv.fr/consent_data_dataposition/" target="_blank" rel="noreferrer">En savoir plus</a>.</td>
      </tr>
      </table>
    </fieldset>
    </div>
    {% for q_form in dataposition_form.questions %}
      {% if q_form.question.label == "Sélectionner votre défi favori" %}
        Retrouvez la liste des défis ici : <a href="https://challenge.gd4h.ecologie.gouv.fr/defis/" target="_blank" rel="noreferrer">https://challenge.gd4h.ecologie.gouv.fr/defis/</a>
      {% endif %}
      {% if q_form.question.choices|length < 7 %} 
        <div class="div-fieldset">
          <fieldset>
            
            <legend class="profile-{{ q_form.question.id.split('-', 1)[0] }}">
              {{ q_form.question.label }}
            </legend>
        
            {% for answer in q_form.question %}
            {{ answer }} {{ answer.label }}<br />
            {% endfor %}
          </fieldset>
        </div>
      {% endif %}
      {% if q_form.question.choices|length >= 7 %}
        <div class="div-fieldset">
          <fieldset>
            <legend class="profile-{{ q_form.question.id.split('-', 1)[0] }}">
              {{ q_form.question.label }}
            </legend>
      
            <select name="{{ q_form.question.id }}">
              {% for dropdown_answer in q_form.question.choices %}
                {% if loop.first %}
                  <option value="{{ dropdown_answer[0] }}" selected>{{ dropdown_answer[1] }}</option>
                {% else %}
                  <option value="{{ dropdown_answer[0] }}">{{ dropdown_answer[1] }}</option>
                {% endif %}
              {% endfor %}  
            </select>
          </fieldset>
        </div>
      {% endif %}
    {% endfor %}
    <div class="div-btn-submit">
      <div class="center">
        <button type="submit">Envoyer</button>
      </div>
    </div>
  </form>
</div>

<script>
  const maxSelectedDefis = 5;
  const selectedDefis = document.querySelectorAll('input[name="selected-defis"]');
  let numSelectedDefis = 0;

  selectedDefis.forEach(defi => {
    defi.addEventListener('change', () => {
      if (defi.checked) {
        numSelectedDefis++;
      } else {
        numSelectedDefis--;
      }
      if (numSelectedDefis > maxSelectedDefis) {
        defi.checked = false;
        numSelectedDefis--;
      }
    });
  });
</script>
{% endblock %}
