{% extends "base.html" %}
{% block title %}Formulaire{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  {% for p_id, p_color in p_id2color.items() %}
  .profile-{{ p_id }}{
    background-color: {{ p_color }};
    color: white;
  }
  {% endfor %}
</style>
{% endblock %}
{% block content %}
<div>

  <font size="+2">
    Ce formulaire a pour objectif de déterminer votre profil principal, ce qui permettra de constituer des équipes
    composées de profils diversifiés et d'aider à identifer les participants nécessaires à un projet.
  </font>

  <form method="POST">
    <div class="div-form-id">
    <fieldset>
      <legend>Identification</legend>
      <table>
      <tr><td style="text-align:right">Nom&nbsp;:</td><td>{{ dataposition_form.name }}</td></tr>
      <tr><td style="text-align:right">Email&nbsp;:</td><td>{{ dataposition_form.email }}</td></tr>
      </table>
    </fieldset>
    </div>
    {% for q_form in dataposition_form.questions %}
    <div class="div-fieldset">
      <fieldset>
        <legend class="profile-{{ q_form.question.id.split('-', 1)[0] }}">
        {{ q_form.question.label }}
        </legend>
        {% for answer in q_form.question %}
        {{ answer }} {{ answer.label }}<br/>
        {% endfor %}
      </fieldset>
    </div>
    {% endfor %}
    <div class="div-fieldset">
      <fieldset>
        <legend class="fav-defi">
          Sélectionner vos défis favoris (5 maximum)
        </legend>
        {% for defi in defis %}
        <label>
          <input type="checkbox" name="selected-defis" value="{{ defi.id }}" />
          <a href="{{defi.url}}" target="_blank" rel="noreferrer">{{ defi.name }}</a>
        </label>
        <br />
        {% endfor %}
      </fieldset>
    </div>
    <div class="div-btn-submit">
      <div class="center">
        <button type="submit">Envoyer</button>
      </div>
    </div>
  </form>
</div>

<script>
  const maxSelectedDefis = 5;
  const selectedDefis = document.querySelectorAll('input[name="selected-defis"]');
  let numSelectedDefis = 0;

  selectedDefis.forEach(defi => {
    defi.addEventListener('change', () => {
      if (defi.checked) {
        numSelectedDefis++;
      } else {
        numSelectedDefis--;
      }
      if (numSelectedDefis > maxSelectedDefis) {
        defi.checked = false;
        numSelectedDefis--;
      }
    });
  });
</script>
{% endblock %}
