{% extends "base.html" %}
{% block title %}Bilan{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
  {% for p_id, p_color in p_id2color.items() %}
  .profile-{{ p_id }}{
    background-color: {{ p_color }};
    color: white;
  }
  {% endfor %}
</style>
{% endblock %}
{% block content %}
<div id="summary-scores" style="font-size: 16px; margin-top: 2em ; width: 400px; overflow: auto;">
  Voici vos résultats au Dataposition :<br/><br/>
  <table>
    {% for p_id, p_score in profile_scores %}
      {% if "Favoris" not in p_id2name[p_id] %}
        <tr>
          <td>Score sur le profil {{ p_id2name[p_id] }}&nbsp;</td>
          <td>{{ p_score }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

<div style="margin-top: 2em; margin-bottom: 2em;">
  Suite à ce questionnaire, vous recevrez un badge correspondant à votre ou vos profils sur
  <a href="https://forum.challenge.gd4h.ecologie.gouv.fr/" target="_blank" rel="noreferrer">le forum</a> du challenge !
  Vous pourrez ainsi facilement composer une équipe avec des profils diversifiés en cliquant sur le profil d’un autre
  participant pour voir quel badge lui a été décerné ou en consultant
  <a href="https://forum.challenge.gd4h.ecologie.gouv.fr/badges" target="_blank" rel="noreferrer">la rubrique badge</a>
  pour connaître la liste de tous les participants correspondant à chaque profil.
</div>
{% endblock %}